{% load static %}
<div class="dossier-container">
  <h2>Bulletins de {{ etudiant.prenom }} {{ etudiant.nom }}</h2>
  {% if bulletins %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Matière</th>
          <th>Note</th>
          <th>Commentaire</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for b in bulletins %}
        <tr>
          <td>{{ b.matiere }}</td>
          <td>{{ b.note }}</td>
          <td>{{ b.commentaire }}</td>
          <td>{{ b.date_creation }}</td>
        </tr>
        {%
