<!-- FICHIER : templates/password_reset_form.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Nouveau mot de passe</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
	<style>
		body, html { margin: 0; padding: 0; height: 100%; background: #81abb3 !important; }
		.user_card {
			width: 400px; margin: auto; margin-top: 10%;
			background: #64958c; padding: 20px;
			border-radius: 5px; color: white;
			box-shadow: 0 4px 8px rgba(0,0,0,0.2);
		}
		.login_btn { width: 100%; background: #33ccff !important; color: white !important; }
		.input-group-text { background: #5e4a2b !important; color: white !important; }
	</style>
</head>

<body>
	<div class="user_card">
		<h3 class="text-center">NOUVEAU MOT DE PASSE</h3>
		<form method="POST">
			{% csrf_token %}
			<div class="input-group mb-3">
				<div class="input-group-append">
					<span class="input-group-text"><i class="fas fa-key"></i></span>
				</div>
				<input type="password" name="new_password1" placeholder="Nouveau mot de passe..." class="form-control" required>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-append">
					<span class="input-group-text"><i class="fas fa-key"></i></span>
				</div>
				<input type="password" name="new_password2" placeholder="Confirmer mot de passe..." class="form-control" required>
			</div>
			<input class="btn login_btn" type="submit" value="Réinitialiser">
		</form>
	</div>
</body>
</html>
